In [2]:
import pandas as pd 
import numpy as np 
import prophet
import holidays 
import plotly 
import streamlit

d:\Atm Demand Forecasting\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
data = pd.read_csv('dataset.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.head(2)

,ATM_ID,Date,Day_of_Week,Time_of_Day,Total_Withdrawals,Total_Deposits,Location_Type,Holiday_Flag,Special_Event_Flag,Previous_Day_Cash_Level,Weather_Condition,Nearby_Competitor_ATMs,Cash_Demand_Next_Day
0,ATM_0041,2022-04-25,Monday,Morning,57450,9308,Standalone,0,0,112953,Rainy,5,44165
1,ATM_0007,2023-11-24,Friday,Morning,72845,17896,Supermarket,0,0,115348,Clear,0,41249

In [18]:
daily_demand = data.groupby(['Date','ATM_ID']).agg(
    y = ('Total_Withdrawals', sum),
    Holiday_Flag = ('Holiday_Flag', max)
).reset_index()
daily_demand

C:\Users\DELL\AppData\Local\Temp\ipykernel_22068\1798609538.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  daily_demand = data.groupby(['Date','ATM_ID']).agg(
C:\Users\DELL\AppData\Local\Temp\ipykernel_22068\1798609538.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  daily_demand = data.groupby(['Date','ATM_ID']).agg(

           Date    ATM_ID      y  Holiday_Flag
0    2022-01-01  ATM_0003  28640             1
1    2022-01-01  ATM_0008  41577             1
2    2022-01-01  ATM_0012  45965             1
3    2022-01-01  ATM_0018  50215             1
4    2022-01-01  ATM_0037  88394             1
...         ...       ...    ...           ...
5218 2024-01-01  ATM_0016  46297             1
5219 2024-01-01  ATM_0024  39808             1
5220 2024-01-01  ATM_0029  39006             1
5221 2024-01-01  ATM_0039  60128             1
5222 2024-01-01  ATM_0047  42621             1

[5223 rows x 4 columns]

In [19]:
us_holidays = holidays.US( years = daily_demand['Date'].dt.year.unique())

holidays_df = pd.DataFrame({
    'ds' : [date for date in us_holidays.keys()],
    'holiday' : ['US_Bank_Holiday'] * len(us_holidays)
})

holidays_df['ds'] = pd.to_datetime(holidays_df['ds'])

In [26]:
#TIME SERIES MODELLING 
from prophet import Prophet 

ATM_TO_FORECAST = 'ATM_0007'
atm_data = daily_demand[daily_demand['ATM_ID'] == ATM_TO_FORECAST].copy()
#Rename for Prophet: Date -> ds and Total_Withdrawals -> y
atm_data = atm_data.rename(columns = {'Date': 'ds'})[['ds','y','Holiday_Flag']].dropna()

In [46]:
m = Prophet(
    changepoint_prior_scale=0.1,  # Increased trend flexibility
    seasonality_prior_scale=20.0, # Increased seasonal strength
    interval_width=0.75,
    yearly_seasonality= True,
    weekly_seasonality = True,
    daily_seasonality= False,
    holidays = holidays_df
)

In [47]:
m.add_regressor('Holiday_Flag')
m.fit(atm_data)

23:20:37 - cmdstanpy - INFO - Chain [1] start processing
23:20:37 - cmdstanpy - INFO - Chain [1] done processing

In [48]:
#Create Future Dates for Prediction 
future = m.make_future_dataframe(periods = 30, freq = 'D', include_history = False)

future['Holiday_Flag'] = 0 
forecast = m.predict(future)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,Holiday_Flag,Holiday_Flag_lower,Holiday_Flag_upper,US_Bank_Holiday,...,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2023-12-26,44286.692414,41937.642383,81779.340395,44286.692414,44286.692414,0.0,0.0,0.0,0.000000,...,5183.972699,5183.972699,5183.972699,11414.746960,11414.746960,11414.746960,0.0,0.0,0.0,60885.412073
1,2023-12-27,44270.560292,34591.854320,77552.028494,44270.560292,44270.560292,0.0,0.0,0.0,0.000000,...,314.544660,314.544660,314.544660,11448.266372,11448.266372,11448.266372,0.0,0.0,0.0,56033.371324
2,2023-12-28,44254.428171,29078.577872,68982.879453,44254.428171,44254.428171,0.0,0.0,0.0,0.000000,...,-7597.355628,-7597.355628,-7597.355628,11333.980247,11333.980247,11333.980247,0.0,0.0,0.0,47991.052790
3,2023-12-29,44238.296049,39566.079676,81776.846030,44238.296049,44238.296049,0.0,0.0,0.0,0.000000,...,5683.803644,5683.803644,5683.803644,11066.120219,11066.120219,11066.120219,0.0,0.0,0.0,60988.219912
4,2023-12-30,44222.163927,31422.760181,72393.074794,44222.163927,44222.163927,0.0,0.0,0.0,0.000000,...,-2987.371867,-2987.371867,-2987.371867,10643.732853,10643.732853,10643.732853,0.0,0.0,0.0,51878.524913
5,2023-12-31,44206.031806,38528.901571,82809.084435,44206.031806,44206.031806,0.0,0.0,0.0,0.000000,...,5120.733550,5120.733550,5120.733550,10070.652538,10070.652538,10070.652538,0.0,0.0,0.0,59397.417894
6,2024-01-01,44189.899684,61576.108976,102596.696759,44189.899684,44189.899684,0.0,0.0,0.0,33003.727977,...,-5718.327057,-5718.327057,-5718.327057,9355.329278,9355.329278,9355.329278,0.0,0.0,0.0,80830.629882
7,2024-01-02,44173.767563,37506.661536,78130.117073,44173.767563,44173.767826,0.0,0.0,0.0,0.000000,...,5183.972699,5183.972699,5183.972699,8510.518968,8510.518968,8510.518968,0.0,0.0,0.0,57868.259229
8,2024-01-03,44157.635441,31475.391963,72125.356388,44157.635441,44157.636087,0.0,0.0,0.0,0.000000,...,314.544660,314.544660,314.544660,7552.847709,7552.847709,7552.847709,0.0,0.0,0.0,52025.027810
9,2024-01-04,44141.503320,25645.750746,63496.675665,44141.503204,44141.504405,0.0,0.0,0.0,0.000000,...,-7597.355628,-7597.355628,-7597.355628,6502.265336,6502.265336,6502.265336,0.0,0.0,0.0,43046.413027
10,2024-01-05,44125.371198,33519.578866,76469.018602,44125.370330,44125.372909,0.0,0.0,0.0,0.000000,...,5683.803644,5683.803644,5683.803644,5381.406402,5381.406402,5381.406402,0.0,0.0,0.0,55190.581244
11,2024-01-06,44109.239077,23994.212026,65032.761426,44109.237453,44109.241868,0.0,0.0,0.0,0.000000,...,-2987.371867,-2987.371867,-2987.371867,4214.879397,4214.879397,4214.879397,0.0,0.0,0.0,45336.746606
12,2024-01-07,44093.106955,33029.112531,72321.987892,44093.104390,44093.110716,0.0,0.0,0.0,0.000000,...,5120.733550,5120.733550,5120.733550,3028.506813,3028.506813,3028.506813,0.0,0.0,0.0,52242.347318
13,2024-01-08,44076.974833,20105.196170,61042.129495,44076.971500,44076.980112,0.0,0.0,0.0,0.000000,...,-5718.327057,-5718.327057,-5718.327057,1848.539842,1848.539842,1848.539842,0.0,0.0,0.0,40207.187618
14,2024-01-09,44060.842712,29261.777555,70678.425690,44060.838269,44060.848906,0.0,0.0,0.0,0.000000,...,5183.972699,5183.972699,5183.972699,700.871915,700.871915,700.871915,0.0,0.0,0.0,49945.687326
15,2024-01-10,44044.710590,23453.398058,64766.814157,44044.704780,44044.717476,0.0,0.0,0.0,0.000000,...,314.544660,314.544660,314.544660,-389.725033,-389.725033,-389.725033,0.0,0.0,0.0,43969.530218
16,2024-01-11,44028.578469,15390.363640,55389.111878,44028.571197,44028.587018,0.0,0.0,0.0,0.000000,...,-7597.355628,-7597.355628,-7597.355628,-1400.318683,-1400.318683,-1400.318683,0.0,0.0,0.0,35030.904157
17,2024-01-12,44012.446347,26967.620625,68180.122021,44012.437548,44012.456366,0.0,0.0,0.0,0.000000,...,5683.803644,5683.803644,5683.803644,-2310.467679,-2310.467679,-2310.467679,0.0,0.0,0.0,47385.782312
18,2024-01-13,43996.314226,19179.361194,57353.039617,43996.304094,43996.325491,0.0,0.0,0.0,0.000000,...,-2987.371867,-2987.371867,-2987.371867,-3102.787337,-3102.787337,-3102.787337,0.0,0.0,0.0,37906.155021
19,2024-01-14,43980.182104,24902.436512,67094.200449,43980.170407,43980.195235,0.0,0.0,0.0,0.000000,...,5120.733550,5120.733550,5120.733550,-3763.413753,-3763.413753,-3763.413753,0.0,0.0,0.0,45337.501902
20,2024-01-15,43964.049982,47218.599921,87578.488488,43964.037414,43964.065316,0.0,0.0,0.0,33003.727977,...,-5718.327057,-5718.327057,-5718.327057,-4282.353624,-4282.353624,-4282.353624,0.0,0.0,0.0,66967.097278
21,2024-01-16,43947.917861,23097.609874,62135.641110,43947.903659,43947.935373,0.0,0.0,0.0,0.000000,...,5183.972699,5183.972699,5183.972699,-4653.710806,-4653.710806,-4653.710806,0.0,0.0,0.0,44478.179753
22,2024-01-17,43931.785739,19186.436479,58629.253602,43931.769450,43931.806089,0.0,0.0,0.0,0.000000,...,314.544660,314.544660,314.544660,-4875.784478,-4875.784478,-4875.784478,0.0,0.0,0.0,39370.545921
23,2024-01-18,43915.653618,12396.729314,51737.489304,43915.634714,43915.675116,0.0,0.0,0.0,0.000000,...,-7597.355628,-7597.355628,-7597.355628,-4951.037847,-4951.037847,-4951.037847,0.0,0.0,0.0,31367.260142
24,2024-01-19,43899.521496,25924.038671,65720.298882,43899.500056,43899.543567,0.0,0.0,0.0,0.000000,...,5683.803644,5683.803644,5683.803644,-4885.940273,-4885.940273,-4885.940273,0.0,0.0,0.0,44697.384866
25,2024-01-20,43883.389375,15956.169529,55971.254746,43883.366441,43883.413368,0.0,0.0,0.0,0.000000,...,-2987.371867,-2987.371867,-2987.371867,-4690.689600,-4690.689600,-4690.689600,0.0,0.0,0.0,36205.327907
26,2024-01-21,43867.257253,23055.201074,64993.729013,43867.232288,43867.283089,0.0,0.0,0.0,0.000000,...,5120.733550,5120.733550,5120.733550,-4378.825062,-4378.825062,-4378.825062,0.0,0.0,0.0,44609.165741
27,2024-01-22,43851.125131,13759.839439,54367.301089,43851.097954,43851.153066,0.0,0.0,0.0,0.000000,...,-5718.327057,-5718.327057,-5718.327057,-3966.744414,-3966.744414,-3966.744414,0.0,0.0,0.0,34166.053660
28,2024-01-23,43834.993010,24812.590646,64691.247703,43834.963627,43835.023848,0.0,0.0,0.0,0.000000,...,5183.972699,5183.972699,5183.972699,-3473.141729,-3473.141729,-3473.141729,0.0,0.0,0.0,45545.823979
29,2024-01-24,43818.860888,22879.989526,61519.254941,43818.828918,43818.893575,0.0,0.0,0.0,0.000000,...,314.544660,314.544660,314.544660,-2918.384567,-2918.384567,-2918.384567,0.0,0.0,0.0,41215.020981

In [54]:
import json
from prophet.serialize import model_to_json
# ... (Prophet model training code here) ...

# Assuming 'm' is your trained Prophet model object
model_filename = 'prophet_model_atm_0044.json'

with open(model_filename, 'w') as fout:
    # Serialize the model object into a JSON string and save it to the file
    json.dump(model_to_json(m), fout)

print(f"Model successfully saved as {model_filename}")

Model successfully saved as prophet_model_atm_0044.json